body{
	background: #f8f9fb;
}
.wrap{
	margin:0 auto;
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
}
.wrap-content{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.logo-order-d{
	width: 1200px;
	height: 100px;
	overflow: hidden;
}
.logo-order-d>img{
	width: 116px;
	height: 23px;
	float: left;
	margin-top: 20px;
	margin-left: 17px;
	overflow: hidden;

}
.link-one{
	width: 80px;
	height: 30px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	line-height: 29px;
	text-align: center;
	color: #7f7f7f;
	float: right;
	margin-right: 10px;
	margin-top: 34px;
	overflow: hidden;
}
.link-two{
	width: 100px;
	height: 30px;
	border: 1px solid #d9d9d9;
	float: right;
	margin-right: 60px;
	margin-top: 34px;
	overflow: hidden;
}
.link-two>img{
	width: 25px;
	height: 25px;
	float: left;
	margin: 2px 6px 2px 10px;
}
.contact-m{
	font-size: 12px;
	line-height: 29px;
	color: #7f7f7f;
	float: left;
}
.o-d-1{
	width: 1200px;
	height: 240px;
	border-top: 1px solid #b730b0;
	overflow: hidden;
}
.o-d-1-a{
	width:160px;
	height: 240px;
	float: left;
	overflow: hidden;
}
.o-d-1-a-1{
	font-size: 12px;
	color: #7f7f7f;
	line-height: 50px;
	text-align: center;
}
.o-d-1-a-2{
	font-size: 18px;
	font-weight: bold;
	color: #b730b0;
	line-height: 30px;
	text-align: center;
}
.o-d-1-a-3{
	font-size: 12px;
	color: #767676;
	line-height: 20px;
	text-align: center;
}
.o-d-1-a-4{
	width: 100px;
	margin:20px 20px 20px 26px;
	font-size: 12px;
	color: #b730b0;
	line-height: 20px;
	border: 1px solid #b730b0;
	text-align: center;
}
.o-d-1-a-5{
	font-size: 12px;
	color: #767676;
	line-height: 30px;
	text-align: center;
}
.o-d-1-line{
	width: 1px;
	height: 200px;
	margin-top: 18px;
	background: #f0f0f0;
	float: left;
	margin-left: 60px;
}
.o-d-1-b{
	width: 850px;
	height: 240px;
	float: right;
	overflow: hidden;
}
.o-d-1-b-1{
	padding-left: 30px;
	font-size: 13px;
	line-height: 100px;
	color: #767676;
	/*float: left;*/
	overflow: hidden;
}
.o-d-1-b-2{
	width: 850px;
	height: 240px;
	float: right;
	overflow: hidden;
}
.o-d-1-b-2a{
	width: 60px;
	height: 70px;
	float: left;
	overflow: hidden;
}
.o-d-1-b-2a>img{
	width: 50px;
	height: 50px;
	display: block;
	margin: auto;
}
.o-d-1-b-2a>p{
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	color: #737373;
	float: left;
	overflow: hidden;
}
.o-d-1-b-2b{
	width: 120px;
	height: 70px;
	float: left;
	overflow: hidden;
}
.o-d-1-b-2b>p{
	font-size: 13px;
	width: 100%;
	line-height: 20px;
	color: #b730b0;
	text-align: center;
}
.o-d-1-2b-line1{
	height: 1px;
	width: 100%;
	background: linear-gradient(90deg, #e2acdf 50%,  #e4e4e4 50%);
	float: left;
	margin-top: 4px;
}
.o-d-1-b-2d{
	width: 120px;
	height: 70px;
	float: left;
	overflow: hidden;
}
.o-d-1-b-line2{
	height: 1px;
	width: 100%;
	background: #e4e4e4;
	float: left;
	margin-top: 24px;
}
.o-d-2{
	width: 1200px;
	height: 240px;
	border-top: 1px solid #dfdfdf;
	overflow: hidden;
}
.o-d-2-a{
	width: 160px;
	height: 240px;
	float: left;
	overflow: hidden;
}
.o-d-2-a>img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	margin-top: 50px;
}
.o-d-2-a>p{
	font-size: 12px;
	line-height: 40px;
	color: #737373;
	text-align: center;
}
.o-d-2-b{
	width: 850px;
	height: 200px;
	float: right;
	overflow-x: hidden;	
	overflow-y: scroll;
	padding-top: 40px;
}
.order-li{
	overflow: hidden;
	width: 850px;
	display: flex;
	position: relative;
}
.dot{
	    position: absolute;
    left: 169px;
    top: 7px;
    width: 7px;
    height: 7px;
    background: #ccc;
    border-radius: 50%;
}
.dot.active{
	background: var(--theme);
	width: 10px;
	height: 10px;
	left: 167px;
	top: 5px;
}
.order-li>p.time{
	flex: 0 0 152px;
	width: 152px;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	float: left;
	overflow: hidden;
	padding-right: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	border-right: 1px solid #eee;
}
.order-li>p.status{
	flex: 1;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	float: left;
	overflow: hidden;
	padding-bottom: 20px;
}
.o-d-2-c{
	width: 650px;
	height: 240px;
	float: right;
	overflow: hidden;	
}
.o-d-2-c1{
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	color: #737373;
	float: left;
	margin-top: 40px;
	overflow: hidden;
}
.o-d-2-c2{
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	color: #737373;
	float: left;
	overflow: hidden;
}
.o-d-3{
	width: 1200px;
	height: 240px;
	border-top: 1px solid #dfdfdf;
	overflow: hidden;
}
.o-d-3-a{
	width: 90px;
	height: 240px;
	float: left;
	overflow: hidden;
}
.o-d-3-a1{
	font-size: 14px;
	line-height: 45px;
	width: 100%;
	color: #414141;
	float: left;
	padding-left: 30px;
}
.o-d-3-a>p{
	font-size: 12px;
	line-height: 34px;
	width: 100%;
	color: #737373;
	float: left;
	padding-left: 30px;
}
.o-d-3-b{
	width: 130px;
	height: 240px;
	float: left;
	margin-top: 45px;
	overflow: hidden;
}
.o-d-3-b1{
	font-size: 12px;
	line-height: 17px;
	width: 100%;
	color: #737373;
	float: left;
	overflow: hidden;
}
.o-d-3-b>p{
	font-size: 12px;
	line-height: 34px;
	width: 100%;
	color: #737373;
	float: left;
	overflow: hidden;
}
.o-d-3-line{
	width: 1px;
	height: 200px;
	margin-top: 18px;
	background: #f0f0f0;
	float: left;
}
.order-bottle{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.order-bottle-head{
	width: 1200px;
	height: 44px;
	background: #f3f3f3;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}
.order-head-shop{
	width: 40%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #7f7f7f;
	float: left;
	text-align: center;
}
.order-head-price{
	width: 15%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #7f7f7f;
	float: left;
	text-align: center;
}
.order-head-no{
	width: 15%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #7f7f7f;
	text-align: right;
	float: left;
	text-align: center;
}
.order-head-off{
	width: 15%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #7f7f7f;
	text-align: right;
	float: left;
	text-align: center;
}
.order-head-sum{
	width: 15%;
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	color: #7f7f7f;
	text-align: right;
	float: left;
	text-align: center;
}
.order-list{
	border: 1px solid #f2f2f2;
	border-bottom: none;
	overflow: hidden;
}
.order-list>li{
	overflow: hidden;
	height: 130px;
	border-bottom: 1px solid #e6e6e6;
}
.order-list>li>img{
	width: 80px;
	height: 80px;
	float: left;
	margin: 25px;
}
.order-lista{
	width: 300px;
	height:130px;
	float: left;
	overflow: hidden;
}
.order-list-one{
	width: 300px;
	height:60px;
	line-height: 30px;
	font-size: 12px;
	color: #242424;
	float: left;
	margin-top: 20px;
	overflow: hidden;
}
.order-lista>p{
	width: 100px;
	font-size: 12px;
	line-height: 30px;
	color: #989898;
	float: left;
	overflow: hidden;
}
.order-list-two{
	width: 15%;
	line-height: 130px;
	font-size: 12px;
	color: #242424;
	float: left;
	margin-left: 50px;
	text-align: center;
	overflow: hidden;
}
.order-list-three{
	width: 15%;
	line-height: 130px;
	font-size: 12px;
	color: #242424;
	float: left;
	text-align: center;
	overflow: hidden;
}
.order-list-four{
	width: 15%;
	line-height: 130px;
	font-size: 12px;
	color: #242424;
	float: left;
	text-align: center;
	overflow: hidden;
}
.order-list-five{
	width: 10%;
	line-height: 130px;
	font-size: 12px;
	font-weight: bold;
	color: #f41212;
	text-align: left;
	float: right;
}



.lili{
	overflow: hidden;
	padding:0 30px;
	position: relative;
}
.lili li{
	width: 170px;
	float: left;
	position: relative;
	padding-top: 20px;
}
.lili li.fi{
	width: 110px;
	float: left;
	/*overflow:hidden;*/
}
.lili li img{
	width: 170px;
	height: 30px;
	overflow:hidden;
}
.lili li.fi img{
	width: 110px;
	height: 30px;
	overflow:hidden;
}
.lili li.fi p{
	width: 80px;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 25px;
	overflow:hidden;
	position: absolute;
	left: 63%;
	top: 10px;
}
.lili li p{
	width: 80px;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 25px;
	overflow:hidden;
	position: absolute;
	left: 79%;
	top: 10px;
}
.lili li span{
	width: 100px;
	display: inline-block;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 25px;
	overflow:hidden;
	margin-left: 34px;
}
.lili li.fi span{
	width: 100px;
	display: inline-block;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 25px;
	overflow:hidden;
	margin-left: -38px;
}
.lili li.la span{
	width: 100px;
	display: inline-block;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 25px;
	overflow:hidden;
	margin-left: 47px;
}